{% extends "base.html" %}

{% block pageCSS %}
<link rel="stylesheet" href="/static/site.css" />

<style>
  h1 {
    color: red;
  }
</style>
{% endblock %}

{% block rowOneContent %}
<h1 class="mycss">Welcome to the Home Page</h1>
{% endblock %}

{% block rowTwoColOneContent %}
<h2 class="mycss">Welcome to Ngunnawal Country</h2>

<p>Ngunnawal is the Country in the Canberra and surrounding areas. The Ngunnawal people are the original owners of this
  land. We pay respects to Aboriginal leaders, past, present and emerging.</p>


WARNING: Aboriginal and Torres Strait Islander viewers are warned that the following website may contain images and
voices of deceased persons.
{% endblock %}

{% block rowTwoColTwoContent %}


<div class="container">
  <div class="row">
    <div class="col-1 text-bg-primary">col-1</div>
    <div class="col-1 text-bg-secondary">col-1</div>
    <div class="col-1 text-bg-success">col-1</div>
    <div class="col-1 text-bg-danger">col-1</div>
    <div class="col-1 text-bg-warning">col-1</div>
    <div class="col-1 text-bg-info">col-1</div>
    <div class="col-1 text-bg-light">col-1</div>
    <div class="col-1 text-bg-dark">col-1</div>
    <div class="col-1 text-bg-primary">col-1</div>
    <div class="col-1 text-bg-secondary">col-1</div>
    <div class="col-1 text-bg-success">col-1</div>
    <div class="col-1 text-bg-danger">col-1</div>
  </div>
  <div class="row">
    <div class="col-2 text-bg-light">col-2</div>
    <div class="col-2 text-bg-dark">col-2</div>
    <div class="col-2 text-bg-primary">col-2</div>
    <div class="col-2 text-bg-secondary">col-2</div>
    <div class="col-2 text-bg-success">col-2</div>
    <div class="col-2 text-bg-danger">col-2</div>
  </div>
  <div class="row">
    <div class="col-3 text-bg-primary">col-3</div>
    <div class="col-3 text-bg-secondary">col-3</div>
    <div class="col-3 text-bg-success">col-3</div>
    <div class="col-3 text-bg-danger">col-3</div>
  </div>
  <div class="row">
    <div class="col-4 text-bg-light">col-4</div>
    <div class="col-4 text-bg-dark">col-4</div>
    <div class="col-4 text-bg-primary">col-4</div>
  </div>
  <div class="row">
    <div class="col-4 text-bg-primary">col-4</div>
    <div class="col-4 text-bg-secondary">col-4</div>
    <div class="col-4 text-bg-success">col-4</div>
  </div>
  <div class="row">
    <div class="col-6 text-bg-dark">col-6</div>
    <div class="col-6 text-bg-light">col-6</div>
  </div>
  <div class="row">
    <div class="col-2 text-bg-sucess">col-2</div>
    <div class="col-8 text-bg-warning">col-8</div>
    <div class="col-2 text-bg-info">col-2</div>
  </div>
  <div class="row">
    <div class="col-2 text-bg-dark">col-2</div>
    <div class="col-10 text-bg-primary">col-10</div>
  </div>
</div>


<div class="container-fluid">

  <div class="row">
    <div class="col-2 text-bg-sucess">col-2</div>
    <div class="col-8 text-bg-warning">col-8</div>
    <div class="col-2 text-bg-info">col-2</div>
  </div>

</div>



{% endblock %}

{% block rowThreeContent %}

<div class="footerText">Copyright 2024.</div>
{% endblock %}