{% extends 'base.html' %}

{# Place the content for the rowTwoColOneContent in this block #}
{% block rowTwoColOneContent %}
    Sidebar content.
{% endblock %}

{# Place the content for the rowTwoColTwoContent in this block #}
{% block rowTwoColTwoContent %}
<form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
    <p>
        Resetting Password for user: <div class = "focus">{{ user.email_address }}</div>
    </p>
        <p>
            {{ form.new_password.label }}<br>
            {{ form.new_password(size=32) }}<br>
            {% for error in form.new_password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endblock %}

{# Place the content for the cellContent3 in this block #}
{% block cellContent3 %}
    Footer
{% endblock %} 